/* Réinitialisation des marges, padding et boîte de modèle */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Définition de la couleur d'arrière-plan */
  body {
    min-height: 100%;
    background-color: #F2F3F5;
  }
